/* Navbar Styles */
body{
    margin: 0;
    
}

.header-content
{
    margin-top:-20px;
    height:40px;
    width:auto;
    margin-left:-15px;
    margin-right:-15px;
    background-color: #7cabde;
    border:2px solid rgb(2, 2, 24);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    height:40px;
    width:40px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 5px;
}

.header-text
{
    color:#0c2e53
}
.emptydiv
{
    width:300px;
}

.search-bar{
    width:300px;
    margin-right:20px;
    height: 25px;
    background-color: rgb(255, 255, 255);}


/* Body Styles */
body{
    min-height: 100vh;
    margin-bottom: -5px;
}
.body-content{
    padding: 10px 0 0 0;
    margin: 20px 20px 0 20px;
   
}

/* Footer Styles */
.sticky-footer{
    position: sticky;
    top: 100%;
}
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0 0 0;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.footer-content h3 {
    margin: 10px 0;
    font-size: 24px;
}

.footer-content p {
    font-size: 14px;
    line-height: 24px;
}

.contact-form {
    margin: 20px 0;
}

.contact-form h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 10px;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.button:hover {
    background-color: #0056b3;
}

.footer-bottom {
    padding: 10px 0;
    border-top: 1px solid #444;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}


/* Pop-up Styles */
.popup-banner {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(245, 245, 220,0.5);
    color: white;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
}

.popup-content {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color:#222;
}
/* Pop-up style ends */