
/* About Section */
.about-section {
    color:#0077b6;
    text-align: center;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: 30px;
}

.about-section h1 {

}

/* Content Section */
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #e9e6ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content h2 {
    color: #ff9900;
    margin-top: 1.5rem;
    font-size: 1.6rem;
    line-height: 1.6;
    font-style: italic;
}

p#intro {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;
}

p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.6;
}

h3 {
    color: #0a9396;
    margin-top: 1.5rem;
    font-size: 25px;
    font-weight: bold;
}

  
/* ADD THESE NEW STYLES */
/* Ensure dark mode affects all major sections */
body.dark-mode nav,
body.dark-mode .content {
    background-color: #333; /* Slightly lighter than body for contrast */
    color: #ffffff;
}

/* Adjust text color for better visibility in dark mode */
body.dark-mode .nav-text a{
    color: #ffffff;
}

body.dark-mode .dark-mode-button {
    background-color: #ffffff;
    color: #333;
}

/* Adjust button hover state in dark mode */
body.dark-mode .dark-mode-button:hover {
    background-color: #09fd56;
    color: #000;
}

/* Hide moon icon by default (assuming light mode is default) */
.dark-mode-button .fa-moon {
    display: none;
  }
  
  /* Show moon icon and hide sun icon in dark mode */
  body.dark-mode .dark-mode-button .fa-moon {
    display: inline-block;
  }
  
  body.dark-mode .dark-mode-button .fa-sun {
    display: none;
}

/* Dark mode changes end here */
