

.contest {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    width: 100%;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Card {
    background-color:#bbccfb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    flex: 1 1 calc(33.333% - 40px); /* Adjusting width with margin */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Card h2 {
    color:#2e5ee1;
    margin: 0 0 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Card p {
    font-size: 1em;
    line-height: 1.6;
    color: black;
    margin: 5px 0;
}

.Card a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1em;
    color: #fff;
    background-color: #2e5ee1;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Card a:hover {
    background-color: #0056b3;
}

/* Ensure dark mode affects all major sections */
body.dark-mode nav
{
    background-color:#333; /* Slightly lighter than body for contrast */
}
body.dark-mode .contest{
    background: #222;
}

body.dark-mode.Card 
{
    background-color:#1b47c1;
}
body.dark-mode.Card:hover
{
    background-color:#1b42c1;
}

/* Adjust text color for better visibility in dark mode */
body.dark-mode .nav-text a{
    color: #ffffff;
}

body.dark-mode .dark-mode-button {
    background-color: #ffffff;
    color: #333;
}

/* Adjust button hover state in dark mode */
body.dark-mode .dark-mode-button:hover {
    background-color: #09fd56;
    color: #000;
}

/* Hide moon icon by default (assuming light mode is default) */
.dark-mode-button .fa-moon {
    display: none;
  }
  
  /* Show moon icon and hide sun icon in dark mode */
  body.dark-mode .dark-mode-button .fa-moon {
    display: inline-block;
  }
  
  body.dark-mode .dark-mode-button .fa-sun {
    display: none;
}

/* Dark mode changes end here */











