
  
  .container {
    max-width: 1200px;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

 
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
  }
  
  .card p {
    margin: 0 0 15px;
    font-size: 0.9em;
    color: #666;
  }
  
  .card a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid #0073e6;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .card a:hover {
    background-color: #0073e6;
    color: #fff;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
  }
  
 
  /* Loading message styles */
.loading {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #333;
}
