

.contest {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    width: 100%;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    flex: 1 1 calc(33.333% - 40px); /* Adjusting width with margin */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
    color: #0008ff;
    margin: 0 0 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    margin: 5px 0;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #0056b3;
}










