


/* Contributors section styling */
#contributors {
    padding: 2rem;
    background: linear-gradient(-90deg, #ebeef2, #ab42c6); /* Gradient Background */
    animation: backgroundAnimation 10s ease infinite; /* Animated Background */
    text-align: center;
}

#contributors h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.contributors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.contributor-card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contributor-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.contributor-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.contributor-card h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #333;
}

.role, .projects {
    color: #666;
    margin: 0.5rem 0;
}

.button-group {
    margin-top: 1rem;
}

.button {
    display: inline-block;
    background-color: #317ed0; /* Blue */
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0 0.5rem;
    font-size: 0.875rem;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #0056b3; /* Darker Blue */
    transform: translateY(-2px);
}